@model StudentViewModel

<h2>@(Model.StudentId != null ? $"Промени ученик: {Model.Name}" : "Добави ученик")</h2>

<form asp-controller="Student" asp-action="@(Model.StudentId != null ? "Update" : "Create")" method="post">
    <input type="hidden" asp-for="StudentId" />

    <div class="row mb-3 p-1">
        <label asp-for="Name" class="p-0"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="row mb-3 p-1">
        <label asp-for="Age" class="p-0"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="row mb-3 p-1">
        <label asp-for="TeacherId" class="p-0"></label>
        <select asp-for="TeacherId" asp-items="Model.Teachers" class="form-control">
            <option value="">-- Избери учител --</option>
        </select>
        <span asp-validation-for="TeacherId" class="text-danger"></span>
    </div>

    <div class="row justify-content-center">
        <div class="col-4">
            <button type="submit" class="btn btn-primary form-control">@(Model.StudentId != null ? "Редактирай" : "Добави")</button>
        </div>
        <div class="col-4">
            <a asp-controller="Student" asp-action="Index" class="btn btn-outline-secondary form-control">Към списъка</a>
        </div>
    </div>
</form>
